html, body {
    margin: 0;
    padding: 0;
}
.ulti-body{
    display: grid;
    grid-template-rows: 70px 650px;
}
.headbar{
    background-color: #dfd2e6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.CE-header{
    align-items: center;
    text-decoration: none;
    display: flex;
    padding-left: 15px;
    justify-content: space-around;
}
.logo{
    width: 50px;
    border-radius: 100px;
    margin-left: 20px;
    margin-top: 8px;
    padding: 2px;
    transition: box-shadow 0.3s;
}
.logo:hover{
    box-shadow: 1px 1px 25px rgba(25, 10, 37, 0.7);
}
.leftsections{
    align-items: center;
    text-decoration: none;
    display: flex;
    padding-left: 200px;
    justify-content: space-around;
}
.headbarelements {
    font-family: sans-serif;
    color: rgb(25, 10, 37);
    text-decoration: none;
    padding: 16px;
    border-radius:6px;
    transition: box-shadow 0.23s;
}
.headbarelements:hover{
    box-shadow: 1px 1px 10px rgba(25, 10, 37, 0.4);
}


.mainbody1{
    background-color: rgb(25, 10, 37);
    height: 650px;
    display: flex;
    justify-content: space-around; 
    gap: 100px;
    align-items: center;   
}

.mainbody12{
    background-color: rgb(147, 126, 165);
    height: 600px;
    display: flex;
    justify-content: space-around; 
    gap: 100px;
    align-items: center;   
}

.mainbody13{
    background-color: rgb(54, 2, 99);
    height: 600px;
    display: flex;
    justify-content: space-around; 
    gap: 100px;
    align-items: center;   
}
.intro{
    color: white;
    font-family: sans-serif;
    font-size: 2rem;
    display: inline-block;
}
.mainbody2{
    background-color: #442f4f;
    height: 150px;display: flex;
    color: rgb(209, 195, 195);
    justify-content: center;
    align-items: center;
    height: 50px;
    font-family: sans-serif;
    font-size: 1rem;
    bottom: 0;
    width: 100%;
}

.contactme {
    display: flex;
    justify-content: center;
    height: 200px;
    font-family: sans-serif;
    font-size: 2rem;
}

.CE-mainbody{
    color: white;
}

